<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>    
 	<bean id="taskJdbcDao" class="cn.coolinc.dao.TaskJdbcDaoImpl">
 		<property name="dataSource" ref="dataSource"/>
 	</bean>
    <bean id="schedulerService" class="cn.coolinc.scheduling.SchedulerServiceImpl">
    	<property name="taskJdbcDao" ref="taskJdbcDao"/>
    </bean>
</beans>