<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="schedulerName" value="Mscheduler" />
		<property name="configLocation">
			<ref local="configLocationResource" />
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<property name="autoStartup" value="false" />
	</bean>

	<bean id="configLocationResource" class="org.springframework.core.io.ClassPathResource">
		<constructor-arg value="quartz.properties" type="java.lang.String">
		</constructor-arg>
	</bean>

	<bean id="schedulerService"
		class="cn.mycompany.mdms.scheduler.service.SchedulerServiceImpl">
		<property name="scheduler">
			<ref bean="scheduler" />
		</property>
	</bean>

	<!-- 自动扫描作业服务类 -->
	<bean id="monitorDirService" class="cn.mycompany.mdms.monitordir.MonitorDirService">
		<property name="adm">
			<ref bean="IMAdapterManager" />
		</property>
	</bean>
</beans>